<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>DOTelematics - Política de Privacidad</title>
  </head>
  <body>
    <article class="prose lg:prose-xl p-4">
      <h1>Política de Privacidad</h1>
      <p>Última actualización: 22 de febrero de 2024</p>
      <p>
        Esta Política de Privacidad describe Nuestras políticas y procedimientos
        sobre la recopilación, uso y divulgación de su información cuando
        utiliza el Servicio y le informa sobre sus derechos de privacidad y cómo
        la ley protege Tú.
      </p>
      <p>
        Utilizamos sus datos personales para proporcionar y mejorar el Servicio.
        Mediante el uso el Servicio, usted acepta la recopilación y el uso de
        información en de acuerdo con esta Política de Privacidad.
      </p>
      <h2>Interpretación y Definiciones</h2>
      <h3>Interpretación</h3>
      <p>
        Las palabras cuya letra inicial está en mayúscula tienen significados.
        definido bajo las siguientes condiciones. Las siguientes definiciones
        deberán tienen el mismo significado independientemente de si aparecen en
        singular o en plural.
      </p>
      <h3>Definiciones</h3>
      <p>A los efectos de esta Política de Privacidad:</p>
      <ul>
        <li>
          <p>
            <strong>Cuenta</strong> significa una cuenta única creada para que usted
            pueda acceder nuestro Servicio o partes de nuestro Servicio.
          </p>
        </li>
        <li>
          <p>
            <strong>Afiliada</strong> significa una entidad que controla, es controlada
            por o está bajo control común con una parte, donde &quot;control&quot;
            significa propiedad del 50% o más de las acciones, participación accionaria
            u otros valores con derecho a voto para la elección de directores u otros
            administradores autoridad.
          </p>
        </li>
        <li>
          <p>
            <strong>Aplicación</strong> se refiere a DOTelematics, el programa de
            software proporcionada por la Compañía.
          </p>
        </li>
        <li>
          <p>
            <strong>Compañía</strong> (denominada "la Compañía", "Nosotros", "Nosotros"
            o &quot;Nuestro&quot; en este Acuerdo) se refiere a DOTelematics, 1 Cupertino,
            CA 95014.
          </p>
        </li>
        <li>
          <p>
            Las <strong>cookies</strong> son pequeños archivos que se colocan en
            su computadora, dispositivo móvil o cualquier otro dispositivo mediante
            un sitio web, que contenga los detalles de su historial de navegación
            en ese sitio web entre sus múltiples usos.
          </p>
        </li>
        <li>
          <p><strong>País</strong> se refiere a: Brasil</p>
        </li>
        <li>
          <p>
            <strong>Dispositivo</strong> significa cualquier dispositivo que pueda
            acceder al Servicio como una computadora, un teléfono celular o una tableta
            digital.
          </p>
        </li>
        <li>
          <p>
            <strong>Datos Personales</strong> es cualquier información que se relacione
            con un individuo identificado o identificable.
          </p>
        </li>
        <li>
          <p>
            <strong>Servicio</strong> se refiere a la Aplicación o al Sitio web o
            ambos.
          </p>
        </li>
        <li>
          <p>
            <strong>Proveedor de Servicios</strong> significa cualquier persona física
            o jurídica que procesa los datos por cuenta de la Empresa. Se refiere
            a terceros. empresas o personas empleadas por la Compañía para facilitar
            el Servicio, para proporcionar el Servicio en nombre de la Compañía,
            para realizar servicios relacionado con el Servicio o para ayudar a la
            Compañía a analizar cómo el Se utiliza el servicio.
          </p>
        </li>
        <li>
          <p>
            <strong>Datos de uso</strong> se refiere a datos recopilados automáticamente,
            ya sea generado por el uso del Servicio o de la infraestructura del Servicio
            en sí (por ejemplo, la duración de una visita a la página).
          </p>
        </li>
        <li>
          <p>
            <strong>Sitio web</strong> se refiere a DOTelematics, accesible desde
            <a
              href="https://privacidad.dotelematics.com/"
              rel="nofollow externo noopener"
              target="_blank">https://privacy.dotelematics.com/</a
            >
          </p>
        </li>
        <li>
          <p>
            <strong>Usted</strong> significa la persona que accede o utiliza el Servicio,
            o la empresa u otra entidad jurídica en nombre de la cual dicha persona
            física está accediendo o utilizando el Servicio, según corresponda.
          </p>
        </li>
      </ul>
      <h2>Recopilación y uso de sus datos personales</h2>
      <h3>Tipos de datos recopilados</h3>
      <h4>Datos Personales</h4>
      <p>
        Mientras utilizamos nuestro servicio, podemos pedirle que nos
        proporcione cierta información de identificación personal que puede
        usarse para contactar o identificarte. La información de identificación
        personal puede incluir, pero es No limitado a:
      </p>
      <ul>
        <li>
          <p>Dirección de correo electrónico</p>
        </li>
        <li>
          <p>Número de teléfono</p>
        </li>
        <li>
          <p>Dirección, Estado, Provincia, Código Postal, Ciudad</p>
        </li>
        <li>
          <p>Datos de uso</p>
        </li>
      </ul>
      <h4>Datos de uso</h4>
      <p>
        Los datos de uso se recopilan automáticamente cuando se utiliza el
        Servicio.
      </p>
      <p>
        Los datos de uso pueden incluir información como la conexión a Internet
        de su dispositivo Dirección de protocolo (por ejemplo, dirección IP),
        tipo de navegador, versión del navegador, el páginas de nuestro Servicio
        que visita, la hora y fecha de su visita, el tiempo dedicado a esas
        páginas, identificadores únicos de dispositivo y otros datos de
        diagnóstico.
      </p>
      <p>
        Cuando accede al Servicio mediante o a través de un dispositivo móvil,
        podemos recopilar cierta información automáticamente, incluida, entre
        otras, al tipo de dispositivo móvil que utiliza, la ID única de su
        dispositivo móvil, el Dirección IP de su dispositivo móvil, su sistema
        operativo móvil, el tipo del navegador de Internet móvil que utiliza,
        identificadores únicos de dispositivo y otros datos de diagnóstico.
      </p>
      <p>
        También podemos recopilar información que su navegador envía cada vez
        que usted visita nuestro Servicio o cuando accede al Servicio mediante o
        a través de un teléfono móvil dispositivo.
      </p>
      <h4>Tecnologías de seguimiento y cookies</h4>
      <p>
        Utilizamos cookies y tecnologías de seguimiento similares para rastrear
        la actividad. en Nuestro Servicio y almacenar cierta información.
        Tecnologías de seguimiento utilizadas son balizas, etiquetas y scripts
        para recopilar y rastrear información y mejorar y analizar Nuestro
        Servicio. Las tecnologías que utilizamos pueden incluir:
      </p>
      <ul>
        <li>
          <strong>Cookies o cookies del navegador.</strong> Una cookie es un pequeño
          archivo colocado en su dispositivo. Puede indicarle a su navegador que
          rechace todas las cookies o para indicar cuándo se envía una cookie. Sin
          embargo, si no acepta Cookies, es posible que no pueda utilizar algunas
          partes de nuestro Servicio. A menos que usted Hemos ajustado la configuración
          de su navegador para que rechace las cookies, nuestras El servicio puede
          utilizar cookies.
        </li>
        <li>
          <strong>Balizas web.</strong> Ciertas secciones de nuestro Servicio y nuestros
          correos electrónicos puede contener pequeños archivos electrónicos conocidos
          como balizas web (también denominados como gifs claros, etiquetas de píxeles
          y gifs de un solo píxel) que permiten a la Compañía, por ejemplo, para
          contar los usuarios que han visitado esas páginas o han abierto un correo
          electrónico y para otras estadísticas relacionadas con sitios web (por
          ejemplo, registrar la popularidad de una determinada sección y verificar
          la integridad del sistema y del servidor).
        </li>
      </ul>
      <p>
        Las cookies pueden ser &quot;Persistentes&quot; o &quot;Sesión&quot;
        Galletas. Las cookies persistentes permanecen en su computadora personal
        o dispositivo móvil cuando se desconecta, mientras que las cookies de
        sesión se eliminan tan pronto como usted cierre su navegador web. Puede
        obtener más información sobre las cookies en <a
          href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies"
          target="_blank">sitio web de TermsFeed</a
        > artículo.
      </p>
      <p>
        Utilizamos cookies de sesión y persistentes para los fines establecidos
        abajo:
      </p>
      <ul>
        <li>
          <p><strong>Cookies necesarias/esenciales</strong></p>
          <p>Tipo: Cookies de sesión</p>
          <p>Administrado por: Nosotros</p>
          <p>
            Propósito: Estas Cookies son esenciales para brindarle servicios
            disponible a través del sitio web y para permitirle utilizar algunos
            de sus características. Ayudan a autenticar a los usuarios y
            prevenir el uso fraudulento. de cuentas de usuario. Sin estas
            Cookies, los servicios que Usted tiene solicitada no se puede
            proporcionar y solo utilizamos estas cookies para proporcionarle
            esos servicios.
          </p>
        </li>
        <li>
          <p>
            <strong
              >Política de Cookies / Aviso de Aceptación de Cookies</strong>
          </p>
          <p>Tipo: Cookies persistentes</p>
          <p>Administrado por: Nosotros</p>
          <p>
            Finalidad: Estas Cookies identifican si los usuarios han aceptado el
            uso de cookies en el Sitio Web.
          </p>
        </li>
        <li>
          <p><strong>Cookies de funcionalidad</strong></p>
          <p>Tipo: Cookies persistentes</p>
          <p>Administrado por: Nosotros</p>
          <p>
            Propósito: Estas cookies nos permiten recordar las elecciones que
            realiza cuando Utiliza el sitio web, como recordar sus datos de
            inicio de sesión o preferencia de idioma. El propósito de estas
            Cookies es proporcionarle con una experiencia más personal y para
            evitar que tengas que volver a entrar sus preferencias cada vez que
            utiliza el sitio web.
          </p>
        </li>
      </ul>
      <p>
        Para obtener más información sobre las cookies que utilizamos y sus
        opciones con respecto a cookies, por favor visite nuestra Política de
        Cookies o la sección de Cookies de nuestra Política de privacidad.
      </p>
      <h3>Uso de sus datos personales</h3>
      <p>
        La Compañía puede utilizar Personal Ddatos para los siguientes fines:
      </p>
      <ul>
        <li>
          <p>
            <strong>Para proporcionar y mantener nuestro Servicio</strong>,
            incluido monitorear el uso de nuestro Servicio.
          </p>
        </li>
        <li>
          <p>
            <strong>Para administrar su cuenta:</strong> para administrar su registro
            como usuario del Servicio. Los datos personales que usted proporciona
            pueden brindarle acceso a diferentes funcionalidades del Servicio que
            están disponibles a Usted como usuario registrado.
          </p>
        </li>
        <li>
          <p>
            <strong>Para la ejecución de un contrato:</strong> el desarrollo, cumplimiento
            y ejecución del contrato de compra de los productos, artículos o servicios
            que haya comprado o de cualquier otro contrato con nosotros a través
            del Servicio.
          </p>
        </li>
        <li>
          <p>
            <strong>Para comunicarnos con usted:</strong> Para comunicarnos con usted
            por correo electrónico, llamadas telefónicas, SMS u otras formas equivalentes
            de comunicación electrónica, como un Notificaciones push de la aplicación
            móvil sobre actualizaciones o información. comunicaciones relacionadas
            con las funcionalidades, productos o contratados servicios, incluidas
            las actualizaciones de seguridad, cuando sea necesario o razonable para
            su implementación.
          </p>
        </li>
        <li>
          <p>
            <strong>Para brindarle</strong> noticias, ofertas especiales y información
            general información sobre otros bienes, servicios y eventos que ofrecemos
            que son similares a los que ya has comprado o sobre los que has consultado
            a menos que haya optado por no recibir dicha información.
          </p>
        </li>
        <li>
          <p>
            <strong>Para gestionar Sus solicitudes:</strong> Para atender y gestionar
            Sus solicitudes para nosotros.
          </p>
        </li>
        <li>
          <p>
            <strong>Para transferencias comerciales:</strong> podemos utilizar su
            información evaluar o llevar a cabo una fusión, desinversión, reestructuración,
            reorganización, disolución, u otra venta o transferencia de algunos o
            todos Nuestros activos, ya sea como empresa en funcionamiento o como
            parte de una quiebra, liquidación o procedimiento similar, en el que
            los datos personales que tenemos sobre nuestro servicio usuarios se encuentra
            entre los activos transferidos.
          </p>
        </li>
        <li>
          <p>
            <strong>Para otros fines</strong>: podemos utilizar su información
            para otros fines, como análisis de datos, identificación de
            tendencias de uso, determinar la efectividad de nuestras campañas
            promocionales y evaluar y mejorar nuestro Servicio, productos,
            servicios, marketing y tu experiencia.
          </p>
        </li>
      </ul>
      <p>
        Podemos compartir su información personal en las siguientes situaciones:
      </p>
      <ul>
        <li>
          <strong>Con proveedores de servicios:</strong> podemos compartir su información
          personal con Proveedores de Servicios para monitorear y analizar el uso
          de nuestro Servicio, para contactarte.
        </li>
        <li>
          <strong>Para transferencias comerciales:</strong> podemos compartir o transferir
          su información personal en relación con, o durante las negociaciones de,
          cualquier fusión, venta de activos de la Compañía, financiamiento o adquisición
          de todo o una parte de Nuestro negocio a otra empresa.
        </li>
        <li>
          <strong>Con afiliados:</strong> podemos compartir su información con nuestros
          afiliados, en cuyo caso exigiremos a dichos afiliados que respeten este
          Política de privacidad. Las afiliadas incluyen nuestra empresa matriz y
          cualquier otra subsidiaria, socios de empresas conjuntas u otras empresas
          que controlamos o que están bajo control común con Nosotros.
        </li>
        <li>
          <strong>Con socios comerciales:</strong> podemos compartir su información
          con Nuestros socios comerciales para ofrecerle ciertos productos, servicios
          o promociones.
        </li>
        <li>
          <strong>Con otros usuarios:</strong> cuando compartes información personal
          o interactuar de otro modo en las áreas públicas con otros usuarios, dicha
          información pueden ser vistos por todos los usuarios y pueden distribuirse
          públicamente en el exterior.
        </li>
        <li>
          <strong>Con su consentimiento</strong>: podemos revelar su información
          personal información para cualquier otro propósito con su
          consentimiento.
        </li>
      </ul>
      <h3>Retención de sus datos personales</h3>
      <p>
        La Compañía conservará sus datos personales sólo durante el tiempo que
        sea necesario para los fines establecidos en esta Política de
        Privacidad. Lo haremos conservar y utilizar sus datos personales en la
        medida necesaria para cumplir con nuestras obligaciones legales (por
        ejemplo, si estamos obligados a conservar su datos para cumplir con las
        leyes aplicables), resolver disputas y hacer cumplir nuestras acuerdos
        legales y políticas.
      </p>
      <p>
        La Compañía también conservará los Datos de uso para fines de análisis
        interno. Los datos de uso generalmente se conservan durante un período
        de tiempo más corto, excepto cuando estos datos se utilicen para
        reforzar la seguridad o mejorar la funcionalidad de Nuestro Servicio, o
        estamos legalmente obligados a conservar este datos durante períodos de
        tiempo más largos.
      </p>
      <h3>Transferencia de sus datos personales</h3>
      <p>
        Su información, incluidos los datos personales, se procesa en la empresa
        oficinas operativas y en cualesquiera otros lugares donde las partes
        involucradas en se ubica el procesamiento. Significa que esta
        información puede ser transferido a (y mantenido en) computadoras
        ubicadas fuera de Su estado, provincia, país u otra jurisdicción
        gubernamental donde Las leyes de protección de datos pueden diferir de
        las de su jurisdicción.
      </p>
      <p>
        Su consentimiento a esta Política de Privacidad seguido de Su envío de
        dicha Esta información representa su aceptación de dicha transferencia.
      </p>
      <p>
        La Compañía tomará todas las medidas razonablemente necesarias para
        garantizar que Su los datos se tratan de forma segura y de acuerdo con
        esta Política de Privacidad y no se realizará ninguna transferencia de
        sus datos personales a una organización o un país a menos que existan
        controles adecuados, incluido el seguridad de sus datos y otra
        información personal.
      </p>
      <h3>Eliminar sus datos personales</h3>
      <p>
        Tiene derecho a eliminar o solicitar que le ayudemos a eliminar el Datos
        personales que hemos recopilado sobre usted.
      </p>
      <p>
        Nuestro Servicio puede brindarle la posibilidad de eliminar cierta
        información sobre Usted desde dentro del Servicio.
      </p>
      <p>
        Puede actualizar, modificar o eliminar su información en cualquier
        momento firmando Ingrese a Su cuenta, si tiene una, y visite la
        configuración de la cuenta. sección que le permite administrar su
        información personal. Puedes también contáctenos para solicitar acceso,
        corregir o eliminar cualquier información personal información que Usted
        nos ha proporcionado.
      </p>
      <p>
        Tenga en cuenta, sin embargo, que es posible que necesitemos conservar
        cierta información cuando tengamos una obligación legal o base legal
        para hacerlo.
      </p>
      <h3>Divulgación de sus datos personales</h3>
      <h4>Transacciones comerciales</h4>
      <p>
        Si la Compañía está involucrada en una fusión, adquisición o venta de
        activos, Su Los Datos Personales podrán ser transferidos. Le avisaremos
        antes de que Su Los Datos Personales se transfieren y quedan sujetos a
        una Privacidad diferente Política.
      </p>
      <h4>Aplicación de la ley</h4>
      <p>
        En determinadas circunstancias, es posible que se le solicite a la
        Compañía que revele Sus Datos Personales si así lo exige la ley o en
        respuesta a declaraciones válidas solicitudes de autoridades públicas
        (por ejemplo, un tribunal o una agencia gubernamental).
      </p>
      <h4>Otros requisitos legales</h4>
      <p>
        La Compañía puede divulgar sus datos personales de buena fe. que dicha
        acción es necesaria para:
      </p>
      <ul>
        <li>Cumplir con una obligación legal</li>
        <li>Proteger y defender los derechos o bienes de la Empresa</li>
        <li>
          Prevenir o investigar posibles irregularidades en relación con el
          Servicio
        </li>
        <li>
          Proteger la seguridad personal de los Usuarios del Servicio o del
          público.
        </li>
        <li>Protección contra responsabilidad legal</li>
      </ul>
      <h3>Seguridad de sus datos personales</h3>
      <p>
        La seguridad de sus datos personales es importante para nosotros, pero
        recuerde que ningún método de transmisión a través de Internet, ni
        método de transmisión electrónica El almacenamiento es 100% seguro. Si
        bien nos esforzamos por utilizar materiales comercialmente aceptables
        medios para proteger sus datos personales, no podemos garantizar su
        absoluta seguridad.
      </p>
      <h2>Privacidad de los niños</h2>
      <p>
        Nuestro Servicio no está dirigido a personas menores de 13 años. No
        recopilar conscientemente información de identificación personal de
        cualquier persona menor la edad de 13 años. Si usted es padre o tutor y
        sabe que Su hijo nos ha proporcionado datos personales; contáctenos. Si
        nosotros tomar conocimiento de que hemos recopilado datos personales de
        cualquier persona bajo el 13 años sin verificación del consentimiento de
        los padres, tomamos medidas para eliminar esa información de Nuestros
        servidores.
      </p>
      <p>
        Si necesitamos confiar en el consentimiento como base legal para
        procesar su información y Su país requiere el consentimiento de uno de
        los padres, podemos Requerimos el consentimiento de sus padres antes de
        que recopilemos y usemos esa información. información.
      </p>
      <h2>Enlaces a otros sitios web</h2>
      <p>
        Nuestro Servicio puede contener links a otros sitios web que no son
        operados por A nosotros. Si hace clic en un enlace de un tercero, será
        dirigido a ese sitio de terceros. Le recomendamos encarecidamente que
        revise la Política de Privacidad de cada sitio que visitas.
      </p>
      <p>
        No tenemos control ni asumimos ninguna responsabilidad por el contenido,
        políticas o prácticas de privacidad de sitios o servicios de terceros.
      </p>
      <h2>Cambios en esta Política de Privacidad</h2>
      <p>
        Podemos actualizar Nuestra Política de Privacidad de vez en cuando. Te
        avisaremos de cualquier cambio publicando la nueva Política de
        Privacidad en esta página.
      </p>
      <p>
        Le informaremos por correo electrónico y/o un aviso destacado en Nuestro
        Servicio, antes de que el cambio entre en vigor y actualice la
        &quot;Última actualizado" fecha en la parte superior de esta Política de
        Privacidad.
      </p>
      <p>
        Se le recomienda revisar esta Política de Privacidad periódicamente para
        cualquier cambios. Los cambios a esta Política de Privacidad son
        efectivos cuando son publicado en esta página.
      </p>
      <h2>Contáctenos</h2>
      <p>
        Si tiene alguna pregunta sobre esta Política de Privacidad, puede
        contactarnos:
      </p>
      <ul>
        <li>Por correo electrónico: office@dotelematics.com</li>
      </ul>
    </article>
  </body>
</html>
